.HomePage-Header {
  margin-bottom: 10px;
  padding: 0 0;
}

.HomePage-Local {
  text-align: center;
}

.HomePage-SearchBar {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  border-radius: 25px;
  background: #b6e8e8;
  padding: 20px;
  align-items: center;
}

.HomePage-Description {
  text-align: center;
  padding: 0 25%;
  margin-top: 10px;
}

.HomePage-BottomNav {
  display: flex;
  justify-content: center;
}

.MainHeader {
  display: flex;
  flex-flow: column;
  background-image: url("./volunteer2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  background-color: #50aaaa;
}

.MainHeader-Container {
  background-color: #318f8f;
}

.MainHeader-Logo {
  padding: 4px;
}

.MainHeader-Nav {
  float: right;
  padding: 35px;
}

.HomePage-Local {
  margin-right: 10px;
}